body {
    width: 100%;
    overflow-x: hidden;
}

.sidebar {

    position: fixed;
    background-color: $sidebar-background-color;
    min-height: 100%;
    max-height: 100%;
    width: $sidebar-width;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: $sidebar-zindex;

    // Reset anchors
    a {
        text-decoration: none;
        outline: none;
        @include setLinkSelectorStyle {
            text-decoration: none
        }
    }

    .nav-panel {
        @include clearfix();
        background-color: $sidebar-panel-bg-color;
        @media (min-width: $screen-sm-min) {
            height: $navbar-height;
        }
        .image > img {
            height: $navbar_height - 10px;
            margin: 2px 5px 0 10px;
        }
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        .treeview-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            opacity: 1;
            height: 0px;
            max-height: 0px;
            transition: 0.3s $ease-in-out-quad;

            &.active {
                max-height: 5000px;
                transition: 0.3s $ease-in-out-quad;
                > li > a {
                    opacity: 1;
                }
            }
        }

        li {
            position: relative;
            margin: 0;
            padding: 0;
            transition: 0.3s $ease-in-out-quad;
        }

        > li {
            &.header,
            > a:hover,
            &.active > a  {
                background-color: $sidebar-active-link-bg-color;
                color: $sidebar-active-link-color;
            }

            > a {
                transition: 0.2s;
            }

            .treeview-menu {
                background-color: $sidebar-submenu-bg-color;
                > li {
                    > a {
                        opacity: 0;
                        transition: 0.3s $ease-in-out-quad;
                        color: $sidebar-submenu-link-color;
                        &:hover {
                            color: $sidebar-submenu-active-link-color;
                        }
                    }
                    &.active > a {
                        color: $sidebar-submenu-active-link-color;
                    }
                }
            }
        }
    }

    &.sidebar-left {
        @include transform(translateX(-$sidebar-width));

        &.sidebar-open {
            @include transform(translate(0, 0));
        }
    }

}

.sidebar-navbar .navbar {
    margin-bottom: 0;
}

.sidebar-page {
    @include clearfix();
    position: relative;
    top: 0;
    bottom: 0;

    .overlay {
        position: absolute;
        display: none;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        z-index: $sidebar-zindex - 1;
        background-color: $sidebar-overlay-bg;
    }

    &.sidebar-open-left .overlay,
    &.sidebar-open-right .overlay {
        display: block;
    }
}

.sidebar-navbar.sidebar-open-left .navbar,
.sidebar-page.sidebar-open-left {
    @include transform(translateX($sidebar-width));
}

.sidebar.sidebar-open,
.sidebar.sidebar-close,
.sidebar-navbar > .navbar,
.sidebar-page {
    @include transition(0.3s $ease-in-out-quad);
}

// Breakpoint at which the sidebar will stay open.
// Used a mixin as the relevant styles have to be included again
// inside .sidebar-open-left. This is so they take effect when the user has the
// sidebar open but resizes their screen into this breakpoint
@media (min-width: $screen-xl-min) {

    @mixin stayOpenSidebar() {
        .sidebar, .sidebar.sidebar-left {
            @include transform(translate(0, 0));
        }

        .sidebar-navbar {
            .navbar {
                width: calc(100% - #{$sidebar-width});
                @include transform(translateX($sidebar-width));
            }
        }

        .overlay,
        .navbar .navbar-nav > li > a.sidebar-toggle {
            display: none;
        }

        .sidebar-page {
            padding-left: $sidebar-width;
        }
    }

    @include stayOpenSidebar();

    .sidebar-open-left {
        @include stayOpenSidebar();
        .sidebar-page {
            @include transform(translate(0, 0));
        }
    }

}
