<main id="page-header" class="page-header $slug-header">
    <div class="container fullpage">
        <div class="row fullpage">
            <div class="col-sm-12 text-center fullpage">
                $html_header
            </div>
        </div>
    </div>
</main>

<div id="page-main">
    <div class="container">
        <div class="row">
            <div class="$slug-main col-md-12">
                <div class="center-block" style="max-width: 900px">
                    $html_main
                </div>
            </div>
        </div>
    </div>
</div>
$html_footer