[run]
concurrency = greenlet
source = lux
omit =
    __init__.py
    utils/sphinxtogithub.py
    utils/version.py
    utils/crypt/arc4.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
