[run]
concurrency = greenlet
source = lux
omit =
    lux/__init__.py
    lux/utils/sphinxtogithub.py
    lux/utils/version.py
    lux/utils/crypt/arc4.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
