[run]
concurrency = gevent
source = lux
omit =
    *lux/utils/sphinxtogithub.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError