# eclipse
.project
.pydevproject
.settings

# python
*.pyc
.coverage
_doc_build
__pycache__
htmlcov
htmlprof
dist
build
src
lux.egg-info
docs/build
example/luxweb/settings.py

*.log
npm*
node_modules
bower_components
MANIFEST
.DS_Store
