# IDE
.project
.pydevproject
.settings
.idea

# python
*.pyc
.coverage
_doc_build
__pycache__
htmlcov
htmlprof
dist
build
src
lux.egg-info
docs/build
example/luxweb/settings.py

# javascript
.grunt
lux/media/js/templates
lux/media/lux/*.js
lux/media/lux/*.css
luxsite/media/lux.json

*.log
npm*
node_modules
bower_components
MANIFEST
.DS_Store
