language: python

sudo: false

python:
  - 3.4.3
  - 3.5

before_install:
  - npm install -g grunt-cli
  - npm install -g bower

install:
  - pip install -r requirements-dev.txt
  - pip install -r requirements-soft.txt
  - python setup.py install
  - npm install

services:
  - redis-server

addons:
  postgresql: "9.4"

before_script:
  - psql -U postgres -c "CREATE USER lux WITH PASSWORD 'luxtest';"
  - psql -U postgres -c "ALTER USER lux CREATEDB;"
  - psql -U postgres -c "ALTER USER lux LOGIN;"
  - psql -U postgres -c "CREATE DATABASE luxtests;"
  - psql -U postgres -c "GRANT ALL PRIVILEGES ON DATABASE luxtests to lux;"

script:
  - grunt jasmine
  - flake8
  - rm -rf lux
  - rm -rf build
  - python -m runtests --coverage
  - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then python -m runtests --coveralls; fi

# after_script:
#   - killall rethinkdb

notifications:
  email: false

# Only test master and dev
branches:
  only:
    - master
    - dev
