language: python

sudo: false

python:
  - 3.4.3

before_install:
  - npm install -g grunt-cli

install:
  - pip install -r requirements-dev.txt
  - pip install -r requirements-soft.txt
  - python setup.py install
  - cd example
  - npm install
  - cd ..

services:
  - redis-server

addons:
  postgresql: "9.4"

before_script:
  - psql -U postgres -c "CREATE USER lux WITH PASSWORD 'luxtest';"
  - psql -U postgres -c "ALTER USER lux CREATEDB;"
  - psql -U postgres -c "ALTER USER lux LOGIN;"
  - psql -U postgres -c "CREATE DATABASE luxtests;"
  - psql -U postgres -c "GRANT ALL PRIVILEGES ON DATABASE luxtests to lux;"

script:
  - flake8
  - rm -rf lux
  - rm -rf build
  - python -m runtests --coverage --log-level error
  - if [[ $TRAVIS_PYTHON_VERSION == '3.4.3' ]]; then python -m runtests --coveralls; fi

notifications:
  email: false

# Only test master and dev
branches:
  only:
    - master
    - dev
