unidecode
markdown
sphinx
pyyaml
beautifulsoup4
redis
coverage
flake8
lxml
recommonmark
premailer
pyslink
#
# pulsar speedup
uvloop
httptools
#
# required by rest extension
apispec
marshmallow
#
# required by odm extension
psycopg2
alembic
marshmallow-sqlalchemy
#
