pip
cython
psycopg2
alembic
unidecode
markdown
sphinx
pyyaml
beautifulsoup4
redis
coverage
flake8
lxml
recommonmark
premailer
-e git+https://github.com/quantmind/pulsar-agile.git@master#egg=pulsar-agile
