psycopg2
sqlalchemy_utils
alembic
unidecode
markdown
sphinx
pyyaml
pyjwt
beautifulsoup4
rethinkdb
-e git+https://github.com/quantmind/pulsar-odm.git@master#egg=pulsar-odm
-e git+https://github.com/quantmind/pulsar.git@dev#egg=pulsar
