<ul class="media-list">
    <li ng-repeat="post in items" class="media" data-ng-controller='BlogEntry'>
        <a href="{{post.html_url}}" ng-attr-target="{{postTarget}}">
            <div class="clearfix">
                <img ng-src="{{post.image}}" class="hidden-xs post-image" alt="{{post.title}}">
                <img ng-src="{{post.image}}" alt="{{post.title}}" class="visible-xs post-image-xs center-block">
                <div class="post-body hidden-xs">
                    <h3 class="media-heading">{{post.title || "Untitled"}}</h3>
                    <p data-ng-if="post.description">{{post.description}}</p>
                    <p class="text-info small">by {{post.authors}} on {{post.dateText}}</p>
                </div>
                <div class="visible-xs">
                    <br>
                    <h3 class="media-heading text-center">{{post.title}}</h3>
                    <p data-ng-if="post.description">{{post.description}}</p>
                    <p class="text-info small">by {{post.authors}} on {{post.dateText}}</p>
                </div>
            </div>
            <hr>
        </a>
    </li>
</ul>