<ul class="pagination pagination-sm">
    <li ng-class="pagination.prevPageDisabled()">
        <a ng-click="pagination.gotoPage(1)">&laquo;</a>
    </li>
    <li ng-class="pagination.prevPageDisabled()">
        <a ng-click="pagination.prevPage()">&lsaquo;</a>
    </li>
    <li ng-repeat="pageNumber in pagination.pages track by pagination.tracker(pageNumber, $index)"
        ng-class="{active: pageNumber == pagination.current, disabled : pageNumber == '...' }"
        ng-click="pagination.gotoPage(pageNumber)">
        <a>{{pageNumber}}</a>
    </li>

    <li ng-class="pagination.nextPageDisabled()">
        <a ng-click="pagination.nextPage()">&rsaquo;</a>
    </li>
    <li ng-class="pagination.nextPageDisabled()">
        <a ng-click="pagination.gotoPage(pagination.last)">&raquo;</a>
    </li>
</ul>
