<div class="pagination infinite" infinite-scroll-distance="pagination.scrollDistance" infinite-scroll='pagination.nextPage()' infinite-scroll-disabled='pagination.paused()'>
    <div class="loading" ng-show='pagination.busy'>
        <i class="fa fa-spinner"></i> Loading {{pagination.displayLoadingName}}...
    </div>
    <button class="btn btn-default btn-sm show-more"
            ng-click="pagination.loadMore()"
            ng-hide="pagination.isLoadMoreHidden()">
        Load more
    </button>
</div>
