<section id="page-header" class="page-header-outer $name-header">
    <div class="layer">
        <div class="page-header">
            <div class="container fullpage">
                <div class="row fullpage">
                    <div class="col-sm-12 text-center">
                        <breadcrumbs></breadcrumbs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="page-main">
    <div class="container">
        <div class="row">
            <div class="$name-main col-md-12">
                <div class="center-block" style="max-width: 900px" data-highlight data-hash-scroll>
                    {{ html_main }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ html_footer }}
