<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-eye"></i> Change columns visibility</h4>
</div>
<div class="modal-body">
    <p class="modal-info">{{infoMessage}}</p>
    <ul class="modal-items list-inline">
        <li ng-repeat="col in columns">
            <a class="btn btn-default" ng-class="activeClass(col)" ng-click="toggleVisible(col)">{{col.displayName}}</a>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
