// Standard theme for sidebar
// To create your own theme, dupicate this file, edit the variables and
// update the @import in components/_sidebar.scss
// Sidebar
$sidebar-width: 250px;
$sidebar-zindex: 810;
$sidebar-overlay-bg: rgba(0, 0, 0, 0.1);

//=== Default Sidebar
//
$sidebar-default-color: $navbar-default-color;
$sidebar-default-bg: $navbar-default-bg;
$sidebar-default-panel-bg: darken($sidebar-default-bg, 5%);
// links
$sidebar-default-link-color: $navbar-default-link-color;
$sidebar-default-link-hover-color: $navbar-default-link-hover-color;
$sidebar-default-link-hover-bg: $navbar-default-link-hover-bg;
$sidebar-default-link-active-bg: $navbar-default-link-active-bg;
$sidebar-default-link-active-color: $navbar-default-link-active-color;
$sidebar-default-link-disabled-bg: $navbar-default-link-disabled-bg;
$sidebar-default-link-disabled-color: $navbar-default-link-disabled-color;

//=== Inverse Sidebar
//
$sidebar-inverse-color: $navbar-inverse-color;
$sidebar-inverse-bg: $navbar-inverse-bg;
$sidebar-inverse-panel-bg: lighten($sidebar-inverse-bg, 5%);
// links
$sidebar-inverse-link-color: $navbar-inverse-link-color;
$sidebar-inverse-link-hover-color: $navbar-inverse-link-hover-color;
$sidebar-inverse-link-hover-bg: $navbar-inverse-link-hover-bg;
$sidebar-inverse-link-active-bg: $navbar-inverse-link-active-bg;
$sidebar-inverse-link-active-color: $navbar-inverse-link-active-color;
$sidebar-inverse-link-disabled-bg: $navbar-inverse-link-disabled-bg;
$sidebar-inverse-link-disabled-color: $navbar-inverse-link-disabled-color;

// Easing
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
