<div class="media blog-list" ng-repeat="post in pag.items" ng-controller="BlogController as blog">
    <div class="media-left">
        <a ng-href="{{post.html_url}}" title="{{post.title}}">
            <img ng-src="{{post.image}}" alt="{{post.title}}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{post.title }}</h4>
        <p data-ng-if="post.description">{{post.description}}</p>
        <p class="text-info small">by {{post.authors}} on {{post.dateText}}</p>
    </div>
    <hr>
</div>
