/*
------------------------------------------------------------------
------------------------------------------------------------------
Created by lux 2014-09-20 15:33:17 in 0.0 seconds.
------------------------------------------------------------------
------------------------------------------------------------------ */

.push-bottom {
    margin-bottom: 20px !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block.active {
    display: block;
}

.nav-second-level li a {
    padding-left: 37px;
}

.absolute-full {
    top: 0;
    position: absolute;
    bottom: 0;
}

@media all and (min-width:768px) {
    .admin-nav {
        z-index: 1;
        margin-top: 51px;
        position: absolute;
        width: 250px;
    }

}
@media all and (max-height:600px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 300px;
        overflow-y: scroll;
    }

}
@media all and (max-height:400px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 200px;
        overflow-y: scroll;
    }

}
.dir-entry-image {
    overflow: hidden;
    max-height: 90px;
}

.dir-entry-image img {
    height: auto;
    width: 120px;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

a.headerlink {
    color: #eee;
    visibility: hidden;
    text-decoration: none;
    padding: 0 4px;
}

a.headerlink:hover {
    color: #b3b3b3;
}

.viewcode-link {
    float: right;
}

div.viewcode-block:target {
    margin: -1px -10px;
    padding: 0 10px;
}

.hover-opacity {
    opacity: 0.5;
    filter: alpha(opacity=50.0);
}

.hover-opacity:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.width20 {
    width: 20px;
}

.width40 {
    width: 40px;
}

.width60 {
    width: 60px;
}

.width80 {
    width: 80px;
}

.width100 {
    width: 100px;
}

.width120 {
    width: 120px;
}

.width140 {
    width: 140px;
}

.width160 {
    width: 160px;
}

.width180 {
    width: 180px;
}

.fullpage,
html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    min-height: 300px;
}

#lux-logo {
    height: 300px;
}

@media all and (max-height:600px) {
    #lux-logo {
        height: 250px;
    }

}
@media all and (max-height:500px) {
    #lux-logo {
        height: 180px;
    }

}
@media all and (max-height:400px) {
    #lux-logo {
        height: 100px;
    }

}
a.brand {
    padding: 0;
}

a.brand img {
    width: auto;
    height: 50px;
}

#page-main {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#page-footer {
    min-height: 300px;
    background-color: #005a8a;
    color: #e5c700;
}

.page-header {
    padding-top: 50px;
    margin: 0;
}

.page-header.index-header {
    width: 100%;
    min-height: 300px;
    background-color: #005a8a;
    color: #eee;
    height: 100%;
}
