/*
------------------------------------------------------------------
------------------------------------------------------------------
Created by lux 2014-10-13 20:17:16 in 0.52 seconds.
------------------------------------------------------------------
------------------------------------------------------------------ */

.push-bottom {
    margin-bottom: 20px !important;
}

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#232323;color:#e6e1dc;-webkit-text-size-adjust:none}.hljs-comment,.hljs-template_comment,.hljs-javadoc,.hljs-shebang{color:#bc9458;font-style:italic}.hljs-keyword,.ruby .hljs-function .hljs-keyword,.hljs-request,.hljs-status,.nginx .hljs-title,.method,.hljs-list .hljs-title{color:#c26230}.hljs-string,.hljs-number,.hljs-regexp,.hljs-tag .hljs-value,.hljs-cdata,.hljs-filter .hljs-argument,.hljs-attr_selector,.apache .hljs-cbracket,.hljs-date,.tex .hljs-command,.asciidoc .hljs-link_label,.markdown .hljs-link_label{color:#a5c261}.hljs-subst{color:#519f50}.hljs-tag,.hljs-tag .hljs-keyword,.hljs-tag .hljs-title,.hljs-doctype,.hljs-sub .hljs-identifier,.hljs-pi,.input_number{color:#e8bf6a}.hljs-identifier{color:#d0d0ff}.hljs-class .hljs-title,.hljs-type,.smalltalk .hljs-class,.hljs-javadoctag,.hljs-yardoctag,.hljs-phpdoc,.hljs-dartdoc{text-decoration:none}.hljs-constant{color:#da4939}.hljs-symbol,.hljs-built_in,.ruby .hljs-symbol .hljs-string,.ruby .hljs-symbol .hljs-identifier,.asciidoc .hljs-link_url,.markdown .hljs-link_url,.hljs-attribute{color:#6d9cbe}.asciidoc .hljs-link_url,.markdown .hljs-link_url{text-decoration:underline}.hljs-params,.hljs-variable,.clojure .hljs-attribute{color:#d0d0ff}.css .hljs-tag,.hljs-rules .hljs-property,.hljs-pseudo,.tex .hljs-special{color:#cda869}.css .hljs-class{color:#9b703f}.hljs-rules .hljs-keyword{color:#c5af75}.hljs-rules .hljs-value{color:#cf6a4c}.css .hljs-id{color:#8b98ab}.hljs-annotation,.apache .hljs-sqbracket,.nginx .hljs-built_in{color:#9b859d}.hljs-preprocessor,.hljs-preprocessor *,.hljs-pragma{color:#8996a8 !important}.hljs-hexcolor,.css .hljs-value .hljs-number{color:#a5c261}.hljs-title,.hljs-decorator,.css .hljs-function{color:#ffc66d}.diff .hljs-header,.hljs-chunk{background-color:#2f33ab;color:#e6e1dc;display:inline-block;width:100%}.diff .hljs-change{background-color:#4a410d;color:#f8f8f8;display:inline-block;width:100%}.hljs-addition{background-color:#144212;color:#e6e1dc;display:inline-block;width:100%}.hljs-deletion{background-color:#600;color:#e6e1dc;display:inline-block;width:100%}.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata{opacity:0.7}
body {
    font-size: 18px;
    background: #fff;
    font-style: normal;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    min-height: 101%;
    height: 101%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block.active {
    display: block;
}

.nav-second-level li a {
    padding-left: 37px;
}

.absolute-full {
    position: absolute;
    bottom: 0;
    top: 0;
}

.navbar2-wrapper {
    width: 100%;
    min-height: 100%;
}

.navbar2-page {
    padding: 70px 15px 0;
    background: #fff;
}

@media all and (min-width:768px) {
    .navbar2-page {
        margin: 0 0 0 250px;
    }

    .navbar2-wrapper.navbar-default .navbar2-page {
        border-left: 1px solid #e7e7e7;
    }

}
@media all and (min-width:768px) {
    .sidebar {
        position: absolute;
        width: 250px;
        z-index: 1;
        margin-top: 51px;
    }

}
.scroll-target {
    background: #e5c700;
}

.scroll-target.finished {
    background: inherit;
    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
         -o-transition: all 2s ease;
            transition: all 2s ease;
}

code.hljs.inline {
    padding: 2px 4px;
    display: inline;
}

dl dd {
    margin-left: 30px;
}

dl.class dl.method {
    color: rgba(0, 0, 0, 0.8);
}

dl.class > dt > tt.descname,
dl.function > dt > tt.descname {
    font-size: 24px;
}

dl.class dt tt.descname,
dl.function dt tt.descname {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

dl.class dt,
dl.function dt {
    font-weight: normal;
    color: #888;
    font-size: 18px;
}

.dir-entry-image {
    overflow: hidden;
    max-height: 120px;
}

.dir-entry-image img {
    width: 120px;
    height: auto;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

a.headerlink {
    padding: 0 4px;
    text-decoration: none;
    color: #eee;
    visibility: hidden;
}

a.headerlink:hover {
    color: #b3b3b3;
}

.viewcode-link {
    float: right;
}

div.viewcode-block:target {
    padding: 0 10px;
    margin: -1px -10px;
}

.hover-opacity {
    opacity: 0.5;
    filter: alpha(opacity=50.0);
}

.hover-opacity:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.width20 {
    width: 20px;
}

.width40 {
    width: 40px;
}

.width60 {
    width: 60px;
}

.width80 {
    width: 80px;
}

.width100 {
    width: 100px;
}

.width120 {
    width: 120px;
}

.width140 {
    width: 140px;
}

.width160 {
    width: 160px;
}

.width180 {
    width: 180px;
}

.fullpage,
.angular-view,
html {
    min-height: 101%;
    height: 101%;
}

#lux-logo {
    height: 300px;
}

@media all and (max-height:600px) {
    #lux-logo {
        height: 250px;
    }

}
@media all and (max-height:500px) {
    #lux-logo {
        height: 180px;
    }

}
@media all and (max-height:400px) {
    #lux-logo {
        height: 100px;
    }

}
#top a.navbar-brand {
    padding: 0;
}

#top a.navbar-brand img {
    width: auto;
    height: 50px;
}

#page-header {
    padding-top: 50px;
}

#page-main {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#page-footer {
    padding-top: 20px;
    background-color: #005a8a;
    color: #e5c700;
    min-height: 300px;
}

.page-header {
    padding-top: 50px;
    margin: 0;
}

.page-header.index-header {
    width: 100%;
    min-height: 300px;
    background-color: #005a8a;
    color: #eee;
    height: 100%;
}
