<nav ng-attr-id="{{navbar.id}}" class="navbar navbar-{{navbar.themeTop}}"
ng-class="{'navbar-fixed-top':navbar.fixed, 'navbar-static-top':navbar.top}" role="navigation">
    <div ng-class="navbar.container">
        <div class="navbar-header">
            <button ng-if="navbar.toggle" type="button" class="navbar-toggle" ng-click="navbar.isCollapsed = !navbar.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav main-nav">
                <li ng-if="navbar.itemsLeft" ng-repeat="link in navbar.itemsLeft" ng-class="{active:links.activeLink(link)}" navbar-link>
                </li>
            </ul>
            <a ng-if="navbar.brandImage" href="{{navbar.url}}" class="navbar-brand" target="{{navbar.target}}">
                <img ng-src="{{navbar.brandImage}}" alt="{{navbar.brand || 'brand'}}">
            </a>
            <a ng-if="!navbar.brandImage && navbar.brand" href="{{navbar.url}}" class="navbar-brand" target="{{navbar.target}}">
                {{navbar.brand}}
            </a>
        </div>
        <nav class="navbar-collapse" uib-collapse="navbar.isCollapsed">
            <ul ng-if="navbar.items" class="nav navbar-nav navbar-left">
                <li ng-repeat="link in navbar.items" ng-class="{active:links.activeLink(link)}" navbar-link></li>
            </ul>
            <ul ng-if="navbar.itemsRight" class="nav navbar-nav navbar-right">
                <li ng-repeat="link in navbar.itemsRight" ng-class="{active:links.activeLink(link)}" navbar-link>
                </li>
            </ul>
        </nav>
    </div>
</nav>
