<navbar class="sidebar-navbar" ng-class="{'sidebar-open-left': navbar.left, 'sidebar-open-right': navbar.right}"></navbar>
<aside ng-repeat="sidebar in sidebars"
       class="sidebar sidebar-{{ sidebar.position }}"
       ng-attr-id="{{ sidebar.id }}"
       ng-class="{'sidebar-fixed': sidebar.fixed, 'sidebar-open': sidebar.open, 'sidebar-close': sidebar.closed}" bs-collapse>
    <div class="nav-panel">
        <div ng-if="sidebar.user">
            <div ng-if="sidebar.user.avatar_url" class="pull-{{ sidebar.position }} image">
                <img ng-src="{{sidebar.user.avatar_url}}" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>{{ sidebar.infoText }}</p>
                <a ng-attr-href="{{sidebar.user.username ? '/' + sidebar.user.username : '#'}}">{{sidebar.user.name}}</a>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li ng-if="section.name" ng-repeat-start="section in sidebar.sections" class="header">
            {{section.name}}
        </li>
        <li ng-repeat-end ng-repeat="link in section.items" class="treeview"
        ng-class="{active:links.activeLink(link)}" ng-include="'subnav'"></li>
    </ul>
</aside>
<div class="sidebar-page" ng-class="{'sidebar-open-left': navbar.left, 'sidebar-open-right': navbar.right}" ng-click="closeSidebars()">
    <div class="overlay"></div>
</div>

<script type="text/ng-template" id="subnav">
    <a ng-href="{{link.href}}" ng-attr-title="{{link.title}}" ng-click="sidebar.menuCollapse($event)">
        <i ng-if="link.icon" class="{{link.icon}}"></i>
        <span>{{link.name}}</span>
        <i ng-if="link.subitems" class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" ng-class="{active:links.activeSubmenu(link)}" ng-if="link.subitems">
        <li ng-repeat="link in link.subitems" ng-class="{active:links.activeLink(link)}" ng-include="'subnav'">
        </li>
    </ul>
</script>
