
.formset {
    display: block;
    margin-bottom: $form-group-margin-bottom;
}

label.required {
    &:after {
        content: " *";
    }
}

.form-inline .input-group .ui-select-container {
    min-width: 200px;
}
