.pagination {
    text-align: center;

    &.infinite {
        display: block;

        .loading {
            margin: 10px;
            font-size: 15px;
        }
        .show-more {
            margin: 10px;
        }
    }
    &.pagination-sm > li > a {
        cursor: pointer;
    }
}

.features {
    article {
        float:left;
        padding: 30px;
        width: 33.33%;
        @include clearfix;
    }
}

@media (max-width: $screen-md-min) {
    .features article {
        width: 50%;
    }
}

@media (max-width: $screen-xs-wide) {
    .features article {
        width: auto;
        float: none;
    }
}
