<nav class="navbar navbar-{{navbar.themeTop}} navbar-fixed-top navbar-static-top" role="navigation" ng-model="navbar.collapse" bs-collapse>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" bs-collapse-toggle>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-if="navbar.brandImage" href="{{navbar.url}}" class="navbar-brand" target="{{navbar.target}}">
            <img ng-src="{{navbar.brandImage}}" alt="{{navbar.brand || 'brand'}}">
        </a>
        <a ng-if="!navbar.brandImage && navbar.brand" href="{{navbar.url}}" class="navbar-brand" target="{{navbar.target}}">
            {{navbar.brand}}
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in navbar.items">
            <a href="{{item.href}}" target="{{item.target}}" title="{{item.title || item.value}}">
            <i ng-if="item.icon" class="{{item.icon}}"></i> {{item.value}}</a>
        </li>
    </ul>
    <div class="sidebar navbar-{{navbar.theme}}" role="navigation">
        <div class="sidebar-nav sidebar-collapse" bs-collapse-target>
            <ul id="side-menu" class="nav nav-side">
                <li ng-if="navbar.search" class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input class="form-control" type="text" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>
                <li ng-repeat="link in navbar.items2">
                    <a ng-if="!link.links" href="{{link.href}}">{{link.value || link.href}}</a>
                    <a ng-if="link.links" href="{{link.href}}" class="with-children">{{link.value}}</a>
                    <a ng-if="link.links" href="#" class="pull-right toggle" ng-click="togglePage($event)">
                        <i class="fa" ng-class="{'fa-chevron-left': !link.active, 'fa-chevron-down': link.active}"></i></a>
                    <ul ng-if="link.links" class="nav nav-second-level collapse" ng-class="{in: link.active}">
                        <li ng-repeat="link in link.links">
                            <a ng-if="!link.vars" href="{{link.href}}" ng-click="loadPage($event)">{{link.value}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>