<navbar class="sidebar-navbar"></navbar>
<aside ng-repeat="sidebar in sidebars" class="sidebar sidebar-{{ sidebar.position }}"
ng-class="{'sidebar-fixed':sidebar.fixed}" bs-collapse>
    <div class="nav-panel">
        <div ng-if="sidebar.user">
            <div ng-if="sidebar.user.avatar_url" class="pull-{{ sidebar.position }} image">
                <img ng-src="{{sidebar.user.avatar_url}}" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>{{ sidebar.infoText }}</p>
                <a href="#">{{sidebar.user.name}}</a>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li ng-if="section.name" ng-repeat-start="section in sidebar.sections" class="header">
            {{section.name}}
        </li>
        <li ng-repeat-end ng-repeat="link in section.items" class="treeview"
        ng-class="{active:activeLink(link)}" ng-include="'subnav'"></li>
    </ul>
</aside>
<div class="sidebar-page" ng-click="closeSideBar()" full-page>
    <div class="content-wrapper"></div>
    <div class="overlay"></div>
</div>

<script type="text/ng-template" id="subnav">
    <a ng-href="{{link.href}}" ng-attr-title="{{link.title}}" ng-click="menuCollapse($event)">
        <i ng-if="link.icon" class="{{link.icon}}"></i>
        <span>{{link.name}}</span>
        <i ng-if="link.subitems" class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" ng-class="link.class" ng-if="link.subitems">
        <li ng-repeat="link in link.subitems" ng-class="{active:activeLink(link)}" ng-include="'subnav'">
        </li>
    </ul>
</script>