<main id="page-header" class="page-header $name-header">
    <div class="container fullpage">
        <div class="row fullpage">
            <div class="col-sm-12 text-center fullpage">
                <img id="lux-logo" src="https://assets.quantmind.com/logos/lux/lux.svg" alt="Lux">
                    <br>
                    <p class="lead">Toolkit for crafting super web applications with Python and AngularJS</p>
                    <p class="lead hidden-xs">
                        <a class="btn btn-success btn-lg width160" href="https://github.com/quantmind/lux">
                        <i class="fa fa-github fa-lg"></i> Source Code</a>
                        <a class="btn btn-success btn-lg width160" href="https://pypi.python.org/pypi/lux">
                        <i class="fa fa-download fa-lg"></i> Download</a>
                    </p>
                    <div class="center-block width160 visible-xs">
                        <a class="btn btn-success btn-lg btn-block" href="https://github.com/quantmind/lux">
                        <i class="fa fa-github fa-lg"></i> Source Code</a>
                        <a class="btn btn-success btn-lg btn-block" href="https://pypi.python.org/pypi/lux">
                        <i class="fa fa-download fa-lg"></i> Download</a>
                    </div>
                    <p class="lead">Version $site_lux_version</p>
                    <a href="https://travis-ci.org/quantmind/lux" title="Build Status">
                    <img src="https://travis-ci.org/quantmind/lux.svg?branch=master" alt="Build Status">
                    </a>
                    <a href='https://coveralls.io/r/quantmind/lux?branch=master'>
                    <img src='https://coveralls.io/repos/quantmind/lux/badge.png?branch=master' alt='Coverage Status'/>
                    </a>
            </div>
        </div>
    </div>
</main>

<div id="page-main">
    <div class="container">
        <div class="row">
            <div class="$name-main col-md-12">
                <div class="center-block" style="max-width: 700px" data-highlight data-hash-scroll>
                    {{ html_main }}
                </div>
            </div>
        </div>
    </div>
</div>
