<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lux Spec Runner</title>
  <link rel="shortcut icon" type="image/png" href="<%= temp %>/jasmine_favicon.png">
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>
<script type="text/javascript">
var require = {}
</script>
<script src="http://quantmind.github.io/require-config-js/require.config.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js" type="text/javascript"></script>
 <% with (scripts) { %>
  <% [].concat(jasmine, boot, vendor, helpers).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
  <% }; %>
<script>
    // Delay onLoad function until we are ready
    var startTests = window.onload;
    window.onload = null;
    require(['<%= [].concat(options.deps).join("', '") %>'], function() {
        require(['<%= [].concat(scripts.specs,scripts.reporters).join("','") %>'], function(){
            startTests();
        });
    });
</script>
</head>
<body>
</body>
</html>