// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

// Mixin for background-image
@mixin bg-image($path, $size, $position) {
    $url: "#{$media-url}/#{$path}";
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}

@mixin bg-image-full($url, $size, $position) {
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}

@mixin transform($transforms) {
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
            transform: $transforms;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin setLinkSelectorStyle {
    &:hover, &:active, &:visited {
        @content;
    }
}
