// Marketing
$mkt-header-min-height: 440px;
$mkt-header-height: 552px;
$mkt-header-font-lg-size: 90px;
$mkt-header-font-sm-size: 24px;
$mkt-box-height: 200px;
$mkt-color-green: #C0CA00;

// Bg white
$bg-white-background: rgba(255, 255, 255, 0.92);
$bg-white-color: #12426A;

// Cookie alert
$cookie-alert-bg-color: #222;
$cookie-alert-text-color: #fff;
$cookie-alert-font-size: 0.9em;
$cookie-alert-line-height: 1.3em;
$cookie-alert-btn-bg-color: #C0CA00;
$cookie-alert-btn-text-color: #000;
$cookie-alert-width: 300px;

// Follow us
$follow-us-color: #c0ca00;
$follow-us-border: 2px solid #c0ca00;
$follow-us-radius: 760px;
$follow-us-size: 130px;
$follow-us-icon-size: 60px;
$follow-us-text-size: 22px;
$follow-us-margin: 15px;

// Staff gallery
$staff-gallery-width-lg: 33%;
$staff-gallery-width-sm: 25%;
$staff-gallery-font-size: 14px;
$staff-gallery-padding: 15px;
$staff-gallery-hover-bg: #eee;
$staff-gallery-hover-radius: 8px;

// What we do
$what-we-do-title-color: #12426A;
$what-we-do-circle-color: #C0CA00;
$what-we-do-arrow-bg: #12426A;
$what-we-do-arrow-size: 30px;

$mkt-box-height: 150px;
$mkt-box-bar-width: 25%;
$mkt-box-bar-bg: #ddd;
$mkt-box-text-color: #12426A;
