// Lux theme for sidebar
// To create your own theme, dupicate this file, edit the variables and
// update the @import in components/_sidebar.scss

$sidebar-background-color: rgb(31, 46, 60);
$sidebar-panel-bg-color: rgb(47, 66, 85);

$sidebar-active-link-bg-color: rgb(26, 41, 56);
$sidebar-active-link-color: rgb(255, 255, 255);

$sidebar-submenu-bg-color: rgb(47, 66, 85);
$sidebar-submenu-link-color: rgb(204, 204, 204);
$sidebar-submenu-active-link-color: rgb(255, 255, 255);
