<div class="container" style="margin-top: 20px">
    <div class="row">
    <div class="col-sm-12">
    <div data-options="lux.context.messages" class="small" data-page-messages></div>
    </div>
    </div>
</div>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single-column">
                    <div data-search-blog></div>
                    $html_main
                </div>
            </div>
        </div>
    </div>
</div>
<div id='page-footer' class='small hidden-print text-muted'>
    <div class='container'>
        <div class='row'>
            <div class='block col-sm-4'>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-copyright"></i>
                        $site_year <a href="http://quantmind.com">Quantmind</a></li>
                    <li><i class="fa-li fa fa-cubes"></i>
                        <a href="$site_url/api/" target="_self">API</a>
                    </li>
                    <li><i class="fa-li fa fa-github"></i>
                        <a href="https://github.com/quantmind/potatoblog-project">Source</a>
                    </li>
                </ul>
            </div>
            <div class='block col-sm-4'>
            </div>
            <div class='block col-sm-4'>
            </div>
        </div>
    </div>
</div>
